/* BlogPostHeaderContent */
.blogPostHeaderDiv {
    text-align: center;
    margin: 5% auto;
}

.blogPostHeaderDiv p {
    margin: .5rem;
}

.postCategory {
    font-weight: 600;
}

.postTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.postAuthorName {
    color: var(--secondary-color);
}

/* BlogPostHeaderContent */



/* blogPostBodyDiv */
.postDescription {
    text-align: justify;
}

/* blogPostBodyDiv */



/* BlogPostImageContent */
/* blogPostHeroImage */
.blogPostHeroImage {
    width: 100%;
    height: 65vh;
    border-radius: 12px;
}

/* blogPostHeroImage */
/* BlogPostImageContent */



/* AUDIO READER */

.playIcon {
    color: var(--primary-color);
    background-color: #f8f8ff;
    border-radius: 50%;
    font-size: 1.2rem;
}

/* AUDIO READER */


/* LIKE AND SHARE */
/* LIKE */
.likeButton {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.likeSkeletonButton {
    color: var(--foreground);
    font-size: 1.2rem;
}

/* LIKE */

/* SHARE */
.shareButton {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* SHARE */
/* LIKE AND SHARE */



/* MORE NEWS */

.moreNewsHeader {
    color: var(--secondary-color);
    font-weight: 600;
}

/* MORE NEWS  */





/* MEDIA QUERY  */


/* start of large tablet styles 991 and below*/
@media screen and (max-width: 991px) {

    /* BlogPostHeaderContent */
    .blogPostHeaderDiv {
        text-align: center;
        margin: 5% auto 3%;
    }

    .blogPostHeaderDiv p {
        margin: .5rem;
    }

    .postCategory {
        font-weight: 600;
    }

    .postTitle {
        font-size: 1.5rem;
        font-weight: 600;
    }

    /* BlogPostHeaderContent */

    /* BlogPostImageContent */
    /* blogPostHeroImage */
    .blogPostHeroImage {
        height: 70vh;
    }

    /* blogPostHeroImage */
    /* BlogPostImageContent */

}


/* start of medium tablet styles 767 and below*/
@media screen and (max-width: 767px) {

    /* BlogPostHeaderContent */
    .blogPostHeaderDiv {
        margin: 5% auto 3%;
    }

    .postTitle {
        font-size: 1.3rem;
    }

    /* BlogPostHeaderContent */

    /* BlogPostImageContent */
    /* blogPostHeroImage */
    .blogPostHeroImage {
        height: 70vh;
    }

    /* blogPostHeroImage */
    /* BlogPostImageContent */

}


/* start of phone styles 479 and below */
@media screen and (max-width: 479px) {

    /* BlogPostHeaderContent */
    .blogPostHeaderDiv {
        margin: 8% auto 5%;
    }

    .postCategory {
        font-size: .9rem;
        font-weight: 500;
    }

    .postAuthor {
        font-size: .9rem;
        font-weight: 400;
    }

    /* BlogPostHeaderContent */


    /* blogPostBodyDiv */
    .postDescription {
        font-size: .9rem;
        font-weight: 400;
    }

    /* blogPostBodyDiv */

    /* BlogPostImageContent */
    /* blogPostHeroImage */
    .blogPostHeroImage {
        height: 40vh;
    }

    /* blogPostHeroImage */
    /* BlogPostImageContent */

    /* AUDIO READER */
    .readNewsText {
        font-size: .8rem;
    }

    /* AUDIO READER */

    /* LIKE AND SHARE */
    /* LIKE */
    .likeButton,
    .likeSkeletonButton,
    .shareButton {
        font-size: 1rem;
    }

    /* SHARE */
    /* LIKE AND SHARE */
}


/* MEDIA QUERY */