/* HomePageDiv */

.homePageDiv {
    margin: 5% auto;
}

/* HomePageDiv */

/* HomePageFirstDiv */

.homePageFirstDivSmallCardDiv> :not(:last-child) {
    margin-bottom: 16px;
}

.homePageFirstDiv .viewMore {
    color: var(--secondary-color);
    display: inline-block;
    margin: 20% 0 0;
}

/* HomePageFirstDiv */

/* HomePageSecondDiv */

.homePageSecondDiv .viewMore {
    color: var(--secondary-color);
    padding: 0 0 0 2%;
    display: inline-block;
}

.homePageFirstDiv .viewMore:hover, .homePageSecondDiv .viewMore:hover {
    color: var(--primary-color);
}

.viewMoreIcon {
    vertical-align: middle;
}

/* HomePageSecondDiv */

/* HomePageThirdDiv */

.homeThirdDiv .homeThirdHeader,
.homeForthDiv .homeForthHeader {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: .8%;
}

/* HomePageThirdDiv */













/* MEDIA QUERY  */


/* start of large tablet styles */
/* @media screen and (max-width: 991px) {

} */



/* start of medium tablet styles 767 and below*/
/* @media screen and (max-width: 767px) {

} */



/* start of phone styles 479 and below */
@media screen and (max-width: 479px) {

    /* HomePageSecondDiv */

    .homePageSecondDiv .viewMore {
        padding: 0;
        margin: 0;
    }

    /* HomePageSecondDiv */




    /* HomePageThirdDiv */


    .homeThirdDiv .homeThirdHeader {
        margin-left: 1.5%;
    }

    /* HomePageThirdDiv */


}


/* MEDIA QUERY */