.postPageDiv {
    width: 60%;
    margin: auto;
}

.audioAndLikeShare {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space evenly between elements */
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .audioReaderContainer {
    flex: 1; /* Take up available space */
  }
  
  .likeAndShareContainer {
    flex: 1; /* Take up available space */
    text-align: right; /* Align content to the right */
  }
  
  /* Define other styles as needed */
  



/* MEDIA QUERY  */
/* start of large tablet styles 991 and below*/
@media screen and (max-width: 991px) {
    .postPageDiv {
        width: 80%;
    }
}


/* start of medium tablet styles 767 and below*/
@media screen and (max-width: 767px) {
    .postPageDiv {
        width: 90%;
    }
}


/* start of phone styles 479 and below */
@media screen and (max-width: 479px) {
    .postPageDiv {
        width: 100%;
    }
}
/* MEDIA QUERY */